<!DOCTYPE html>

<html class="fixed sidebar-light">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Light Sidebar Layout | Porto Admin - Responsive HTML5 Template 2.1.1</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/animate/animate.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/font-awesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/custom.css">

    <!-- Head Libs -->
    <script src="~/Areas/Admin/Content/vendor/modernizr/modernizr.js"></script>
    <div>

        <section class="body">

            <!-- start: header -->
            <header class="header">
                <div class="logo-container">
                    <a href="../2.1.1" class="logo">
                        <img src="~/Areas/Admin/Content/img/logo-default.png" width="75" height="35" />
                    </a>
                    <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <!-- start: search & user box -->
                <div class="header-right">


                    <span class="separator"></span>

                    <ul class="notifications">

                        <li>
                            <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                                <i class="fas fa-envelope"></i>
                                <span class="badge">0</span>
                            </a>

                            <div class="dropdown-menu notification-menu">
                                <div class="notification-title">
                                    <span class="float-right badge badge-default">230</span>
                                    Messages
                                </div>

                                <div class="content">
                                    <ul>
                                        @*<li>
                                            <a href="#" class="clearfix">
                                                <figure class="image">
                                                    <img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle" />
                                                </figure>
                                                <span class="title">Joseph Doe</span>
                                                <span class="message">Lorem ipsum dolor sit.</span>
                                            </a>
                                        </li>*@
                                    </ul>

                                    <hr />

                                </div>
                            </div>
                        </li>
                    </ul>

                    <span class="separator"></span>

                    <div id="userbox" class="userbox">
                        <a href="#" data-toggle="dropdown">
                            <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                                <span class="name">Gürhan GEDİK</span>
                                <span class="role">Administrator</span>
                            </div>

                            <i class="fa custom-caret"></i>
                        </a>

                        <div class="dropdown-menu">
                            <ul class="list-unstyled mb-2">
                                <li class="divider"></li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fas fa-user"></i> My Profile</a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fas fa-power-off"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end: search & user box -->
            </header>
            <!-- end: header -->

            <div class="inner-wrapper">
                <!-- start: sidebar -->
                <aside id="sidebar-left" class="sidebar-left">

                    <div class="sidebar-header">
                        <div class="sidebar-title">
                            Navigation
                        </div>
                        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    </div>

                    <div class="nano">
                        <div class="nano-content">
                            <nav id="menu" class="nav-main" role="navigation">

                                <ul class="nav nav-main">


                                    <li class="nav-parent">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-copy" aria-hidden="true"></i>
                                            <span>Category</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a class="nav-link" href="#">
                                                    Add Category
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="#">
                                                    List Category
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>

                        <script>
                            // Maintain Scroll Position
                            if (typeof localStorage !== 'undefined') {
                                if (localStorage.getItem('sidebar-left-position') !== null) {
                                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                                    sidebarLeft.scrollTop = initialPosition;
                                }
                            }
                        </script>


                    </div>

                </aside>
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                    @RenderBody()
                </section>
            </div>



        </section>

        <script src="~/Areas/Admin/Content/vendor/jquery/jquery.js"></script>
        <script src="~/Areas/Admin/Content/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/Areas/Admin/Content/vendor/popper/umd/popper.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/Areas/Admin/Content/vendor/common/common.js"></script>
        <script src="~/Areas/Admin/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="~/Areas/Admin/Content/js/theme.js"></script>
        <script src="~/Areas/Admin/Content/js/custom.js"></script>
        <script src="~/Areas/Admin/Content/js/theme.init.js"></script>

    </div>
</body>
</html>
