
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div role="main" class="main">
    <section class="section">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <div class="overflow-hidden">
                        <span class="d-block top-sub-title text-color-primary appear-animation" data-appear-animation="maskUp">WHAT'S NEW?</span>
                    </div>
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">New Arrivals</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6 col-lg-3 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="text-center mb-4">
                        <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                            <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                <a href="shop-product-detail-right-sidebar.html">
                                    <img src="~/Content/img/product-4.jpg" class="img-fluid" alt="">
                                </a>
                                <span class="image-frame-action">
                                    <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                </span>
                            </span>
                        </div>
                        <h3 class="text-color-default text-2 mb-0"><a href="shop-product-detail-right-sidebar.html">Brown Jacket</a></h3>
                        <span class="price font-primary text-4"><strong class="text-color-dark">$79</strong></span>
                        <span class="old-price font-primary text-line-trough text-2"><strong class="text-color-default">$99</strong></span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="text-center mb-4">
                        <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                            <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                <a href="shop-product-detail-right-sidebar.html">
                                    <img src="~/Content/img/product-4.jpg" class="img-fluid" alt="">
                                </a>
                                <span class="image-frame-action">
                                    <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                </span>
                            </span>
                        </div>
                        <h3 class="text-color-default text-2 mb-0"><a href="shop-product-detail-right-sidebar.html">Brown Jacket</a></h3>
                        <span class="price font-primary text-4"><strong class="text-color-dark">$79</strong></span>
                        <span class="old-price font-primary text-line-trough text-2"><strong class="text-color-default">$99</strong></span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="text-center mb-4">
                        <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                            <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                <a href="shop-product-detail-right-sidebar.html">
                                    <img src="~/Content/img/product-4.jpg" class="img-fluid" alt="">
                                </a>
                                <span class="image-frame-action">
                                    <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                </span>
                            </span>
                        </div>
                        <h3 class="text-color-default text-2 mb-0"><a href="shop-product-detail-right-sidebar.html">Brown Jacket</a></h3>
                        <span class="price font-primary text-4"><strong class="text-color-dark">$79</strong></span>
                        <span class="old-price font-primary text-line-trough text-2"><strong class="text-color-default">$99</strong></span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="text-center mb-4">
                        <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                            <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                <a href="shop-product-detail-right-sidebar.html">
                                    <img src="~/Content/img/product-4.jpg" class="img-fluid" alt="">
                                </a>
                                <span class="image-frame-action">
                                    <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                </span>
                            </span>
                        </div>
                        <h3 class="text-color-default text-2 mb-0"><a href="shop-product-detail-right-sidebar.html">Brown Jacket</a></h3>
                        <span class="price font-primary text-4"><strong class="text-color-dark">$79</strong></span>
                        <span class="old-price font-primary text-line-trough text-2"><strong class="text-color-default">$99</strong></span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="text-center mb-4">
                        <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                            <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                <a href="shop-product-detail-right-sidebar.html">
                                    <img src="~/Content/img/product-4.jpg" class="img-fluid" alt="">
                                </a>
                                <span class="image-frame-action">
                                    <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                </span>
                            </span>
                        </div>
                        <h3 class="text-color-default text-2 mb-0"><a href="shop-product-detail-right-sidebar.html">Brown Jacket</a></h3>
                        <span class="price font-primary text-4"><strong class="text-color-dark">$79</strong></span>
                        <span class="old-price font-primary text-line-trough text-2"><strong class="text-color-default">$99</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

